@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body{
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 19px;
  margin: 0px;
}
.conteudo {
  float: left;
}
.img-canto {
  display: block;
  float: right;
  margin-top: 20px;
  width: 55%;
}
.logo{
  width: 60px;
}
.info-dock {
  position: fixed;
  bottom: 0;
  padding-bottom: 5px;
  margin-left: 100px;
  margin-bottom: 110px;
  width: 420px;
  border-bottom: 2px solid black;
}
.button-github {
  width: 80px;
}
.cabecalho{
  float: left;
  padding: 10px;
  height: 50px;
  width: 50px;
}
.quebra{
  clear: left;
}
.menu {
  position: absolute;
  right: 0;
  padding-right: 200px;
  margin-top: 25px;
}
.link-menu{
  border-bottom: 2px solid lightskyblue;
  color: black;
  border-radius: 0px;
  background-color: white;
  text-decoration: none;
  font-weight: normal;
  padding: 5px;
}
.link-menu:hover{
  color: black;
  background-color: #E8E8E8;
  text-decoration: none;
  font-weight: normal;
}
header{
  display: flex;
  background-color: #ffffff;
  border: 1px #E8E8E8 solid;
  padding-bottom: 10px;
}
h1{
  font-size: 17px;
}
h2{
  font-size: 70px;
  margin-left: 100px;
}
h3{
  font-weight: normal;
  margin-left: 100px;
}
th {
  text-align: left;
}
a{
  color: black;
  margin-left: 10px;
  border-radius: 15px;
  background-color: white;
  text-decoration: none;
  font-weight: normal;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  padding: 70px;
  width: 40%;
  top: 40%;
  left: 25%;
  border: 1px solid black;
  border-radius: 5px;
}
.gif {
  width: 20%;
}